.noscroll{
  padding: 0px;
  overflow: none;
  .main__inner{
    padding: 5px 6px;
    .live__information{
      width: 303px;
      height: 104px;
      margin: 0 auto;
      margin-top: 10px;
      background: $color-second;
      border-radius:5px;
    }
    .container__player {
      margin-top: 5px;
      min-width: 375px;
      height: 100%;
      margin-left: -36px;
      margin-right: -36px;
      .content__player {
        width: 375px;
        height: 195px;
        background-color: #FFFFFF;
        top: 5px;
        margin: 0 auto;
        border-radius: 5px;
        border: solid 2px #0F1533;
       
    }
  }
  }
 }



@media(min-width:769px){
  .container{
    padding:0;
  }
  .PlayerChat{
   display: flex;
   justify-content: space-between;
   padding: 0;
  }
  .noscroll{
      height: 505px;
      .playerbox{
        .main__inner{
        margin: 0;
        display: flex;
         flex-direction: column;
         .content__mainheader{
           margin: 0 auto;
         }
          .container__player{
            width: 100%;
            flex: 1 0;
            margin: 0 auto;
            position: relative;
            object-fit: cover;
            .content__player{
              width: 100%;
              min-height: 350px;
              flex: 1 0;
              position: relative;
            }
          }
        }
      }
      
    }
  }
