$color-bg: #01082B;
$color-second-bg: #FFFFFF;
$color-main: #0F1533;
$color-second: #FFFFFF;
$color-body: #1C4CF5;
$color-cm: #01082B;
$color-border:rgba(255, 255, 255, 0.3);
$font-main: 'Comfortaa', cursive;
